@media (max-width: 1800px)
  .promo__img
    width: 624px
@media (max-width: 1573px)
  *
    font-size: 16px
  .header
    justify-content: start
    padding: 0 16px 0 45px
    &__logo
      margin-right: 40px
    &__users
      margin-left: auto
  .hamburger
    height: 25px
    display: flex
    flex-direction: column
    justify-content: space-between
    padding: 1.8px 0
    margin-right: 40px
    cursor: pointer
    span
      display: block
      width: 30px
      height: 2px
      background: #fff
      border-radius: 5%
    span.short
      width: 24px
  .menu
    position: fixed
    top: 0
    left: -100%
    width: 100%
    height: 100vh
    z-index: 10
    visibility: hidden
    opacity: 0
    transition: all 0.6s
    &.active
      left: 0
      visibility: visible
      opacity: 1
    &__block
      position: relative
      width: 345px
      height: 100%
      padding-top: 140px
      background-color: #1B1B1C
      transition: all .6s
    &__close
      display: block
      position: absolute
      top: 25px
      right: 25px
      cursor: pointer
    &__list
      display: block
    &__item
      padding-left: 35px
      margin-bottom: 15px
      position: relative
      &:before
        content: ''
        position: absolute
        left: 0
        width: 15px
        height: 15px
        border-radius: 100%
        border: 1px solid #4BD879
  .promotion
    border-radius: 0
    &__wrapp
      width: 890px
  .promo
    padding: 0 45px
    &__title
      font-size: 55px
      width: 790px
    &__list::before
      left: -30px
    &__users
      width: 585px
    &__img
      top: 400px
      width: 824px
      height: auto
      z-index: -1
      img
        max-width: 100%


@media (max-width: 1200px)
  .promotion
    flex-direction: column
    justify-content: space-between
    align-items: start
    padding: 30px 55px
    &__wrapp
      margin-top: 17px
      max-width: 100%
      order: 2
    &__timer
      order: 1
    img
      order: 2
    &__desc
      order: 1
  .promo
    &__list
      max-width: 924px
      &:before
        top: 60px
    &__users
      width: 562px
    &__img
      top: 480px



@media (max-width: 992px)
  *
    font-size: 16px
  .btn-border
    padding: 8px 13px 0 13px
    max-height: 30px
    border-radius: 4px
    font-size: 12px
    margin-top: 3px
    &:after
      border-radius: 4px
  .btn-gradient
    padding: 8px 26px 11px 26px
    border-radius: 4px
    font-size: 14px
  .header
    &__lang
      img
        width: 20px
        height: 20px
    &__users
      width: 261px
  .promo
    &__title
      font-size: 50px
      width: 723px
    &__list
      max-width: 480px
      padding: 0
      &:before
        background-image: url('../../img/arrow-mobile.png')
        width: 16px
        height: 69px
        left: -25px
        top: 70%
    &__item
      font-size: 18px
    &__btns
      width: 410px
    &__btngr
      padding: 13px 30px 13px 16px
      &:after
        background-image: url('../../icons/top-5-mobile.png')
        width: 35px
        height: 34px
    &__btnbdr
      padding: 13px 31px 31px 31px
      margin-top: -4px
      &:after
        min-height: 26px
    &__users
      margin-top: 15px
    &__img
      width: 480px
      top: 395px

@media (max-width: 768px)
  body
    padding-top: 14px
  .header
    &__logo
      width: 120px
    &__lang
      display: none
  .menu__lang
    display: block
  .hamburger
    height: 16px
    margin-right: 20px
    padding: 0
    span
      width: 16px
      height: 1px
    span.short
      width: 12px
  .menu__close svg
    width: 19px
    height: 20px
  .promotion
    width: 100%
    border-radius: 0
    &__wrapp
      max-width: 90%
    &__title, &__text
      font-size: 14px
  .promo
    &__title
      font-size: 30px
      width: 279px
    &__list
      width: 476px

@media (max-width: 576px)
  *
    font-size: 12px
  .btn-border
    padding: 2px 9px 0 9px
    max-height: 20px
    border-radius: 4px
    font-size: 7px
    width: 50px
    &:after
      border-radius: 4px
      padding: 0
  .btn-gradient
    width: 80px
    height: 18px
    padding: 8px 0 0 8px
    border-radius: 4px
    font-size: 7px
    line-height: 7px
    margin-left: 8px
  .header
    &__logo
      min-width: 54px
    &__users
      max-width: 138px
  .menu__block
    width: 100%
  .hamburger
    margin-right: 14px
  .promotion
    padding: 8px 16px 30px 45px
    &__wrapp
      width: 85%
    &__timer
      width: 100px
    &__img
      width: 46px
      height: auto
    &__timer, span, &__title, &__text
      font-size: 10px
      line-height: 13px
  .promo
    &__list
      width: 283px
      &:before
        top: 60%
    &__item
      font-size: 12px
      line-height: 158.7%
    &__btns
      width: 246px
      margin-top: 20px
    &__btngr
      padding: 13px 0px 5px 8px
      letter-spacing: .5px
      width: 109px
    &__btnbdr
      padding: 11px 0 21px 17px
      margin-top: -2px
      min-width: 109px
      &:after
        min-height: 31px
    &__users
      width: 230px
      height: 28px
    &__image
      width: 61px
      height: 28px
      &_item
        width: 28px
        height: 28px
    &__descr
      width: 156px
      font-size: 10px
      line-height: 126.2%
      letter-spacing: 1.5px
    &__img
      width: 268px
      top: 335px
